span.btn-loader {
  display: inline-flex;
  right: 0;
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #555;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  vertical-align: inherit;
  margin-left: 10px;
  float: right;
  margin-top: 2px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}