.text{
    font-size: 15px;
    margin-bottom: 5px;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
@-moz-document url-prefix() {
    .text {
      overflow: hidden;
      position: relative;
      max-height: 40px;
      line-height: 1.3;
    }
    .text:before {
      background: #FFFFFF;
      bottom: 0;
      position: absolute;
      right: 0;
      float: right;
      content: '\2026';
      margin-left: -3rem;
      width: 3rem;
    }
    .text:after {
      content: '';
      background: #FFFFFF;
      position: absolute;
      height: 50px;
      width: 100%;
      z-index: 1;
    }
  }